/* AdminPage.css */
.admin-page {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .medicine-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  